*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    font-family: 'Lato', sans-serif;
    color: #848789;
}

a{
    text-decoration: none;
    color: #4d4959;
}

.container{
    max-width: 1094px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    min-height: 800px;
    background: url(../img/bg.jpg) no-repeat center bottom;
    background-size: cover;
}

.header{
    width: 100%;
}

.logo__link{
    display: none;
}

.menu__burger{
    top: -100%;
    display: none;
}

.header__burger{
    display: none;
}

.header__body {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

.menu {
    margin: 35px auto;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item + .menu__item{
    margin-left: 80px;
}

.menu__link {
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.menu__link:hover{
    color: #000;
}

@media (max-width: 768px) {
    .container {
        max-width: 629px;
    }

    .header__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px
    }

    .header__burger{
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
    }

    .logo__link{
        display: block;
    }

    .header__burger span{
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        left: 0;
        top: 14px;
        transition: all 0.5s ease;

    }

    .header__burger::before,
    .header__burger::after{
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        background-color: #333;
        transition: all 0.5s ease;
    }

    .header__burger::before{
        top: 0;
    }

    .header__burger::after{
        bottom: 0;
    }

    .header__burger.active:before{
        transform: rotate(45deg);
        top: 15px;
    }

    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 13px;
    }

    .header__burger.active span {
        display: none;
    }

    .menu{
        display: none;
    }

    .menu__burger{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000;
        display: block;
        transition: all 0.3s ease;
    }

    .menu__burger.active{
        top: 0;
    }

    .menu__burger .menu__list{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 150px auto;
    }

    .menu__item + .menu__item{
        margin-left: 0;
    }

    .menu__item{
        margin-bottom: 60px;
        border-bottom: 1px solid #333;
    }

    .menu__link{
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .container {
        max-width: none;
    }

    .logo__link img{
        width: 80px;
        height: 71px;
    }

    .menu__link {
        font-size: 26px;
    }

    .menu__item {
        margin-bottom: 51px;
    }
}

/* ---- */

.genrator {
    padding: 107px 0;
    background-color: #f7f7f7;
}

.about {
    padding: 10px 0;
    margin: 0 auto;
    max-width: 970px;
}

.about__title {
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    text-align: center;
    background: url(../img/icon.png) no-repeat top center;
    padding: 68px 0 35px 0 ;
}

.about__subtile {
    text-align: center;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
}

.bike img{
    width: 100%;
}

.bike {
    display: flex;
}

.bike__content {
    max-width: 451px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bike__about {
    width: 100%;
    padding: 70px 0;
}

.bike__container {
    max-width: 399px;
    margin: 0 auto;
    padding: 0 20px;
}

.bike__title {
    background: url(../img/icon1.png) no-repeat top center;
    padding: 60px 0 26px 0;
}

.bike__subtitle {
    font-size: 16px;
    line-height: 30px;
    color: #848789;
    position: relative;
    padding-bottom: 10px;
}

.bike__subtitle:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;   
    transform:translate(-50%, -50%); 
    width: 50px;
    height: 1px;
    background-color: rgba(53,55,56,0.2);
}

.bike__title_icon{
    background: url(../img/icon2.png) no-repeat top center;
}

.bike-3 .bike-3_img {
    width: 50%;
}

@media (max-width: 1040px) {
    .bike {
        flex-direction: column;
    }

    .bike__content {
        max-width: none;
        width: 100%;
    }
    
    .bike__container {
        max-width: none;
        width: 90%;
        text-align: center;
    }

    .bike-2{
        flex-direction: column-reverse;
    }

    .bike .bike-3_img{
        width: 100%;
    }
}

.slide {
    padding: 124px 0;
}

.slider {
    max-width: 1038px;
    text-align: center; 
}

.slider__title {
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #353738;
    background: url(../img/icon_1.png) no-repeat center top;
    padding: 42px 0 27px 0;
}

.slider__text {
    font-weight: 300;
}

.slider__subtile {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    padding: 0 0 104px 0;
}

.slick-dots{
    display: flex;
    margin: auto;
    max-width: 55px;
}

.slick-dots li {
    list-style: none;
    margin-right: 9px;
}

.slick-dots li:last-child{
    margin: 0;
}

.slick-dots button {
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #c8c8c8;
}

.slick-active button{
    background-color: #a9afb3;
}

@media (max-width: 780px) {
    .slider__subtitle{
        padding: 0 0 45px 0;
    }
}

@media (max-width: 780px) {
    .slick-dots button {
        width: 2px;
        height: 14px;
    }
}

.shop img {
    width: 100%;
}

.shop__buy {
    padding: 75px 0;
    background-color: #282f35;
}

.shop form{
    max-width: 300px;
    margin: auto;
}

.shop__btn {
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,255,0.0);
    border: 1px solid rgba(255,255,255,0.49);
    cursor: pointer;
    transition: all 0.3s ease;

    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;letter-spacing: 0.2em;
    color: #ffffff;
}

.shop__btn:hover{
    background-color: #fff;
    color: #282f35;
}

.mailing {
    padding: 68px 0 111px 0;
}

.mailing__content {
    max-width: 541px;
    margin: 0 auto;
}

.mailing__title {
    background: url(../img/Logo.png) no-repeat center top;
    padding: 121px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.mailing__form {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.mailing__email {
    width: 100%;
    height: 69px;
    background-color: #fff;
    border: 1px solid #d3d7d9;
    padding: 0 0 0 28px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
}

.mailing__email:focus{
    outline: none;
    border: 1px solid #000;
}

.mailing__btn {
    width: 126px;
    height: 69px;
    background-color: #64c29e;
    border: none;
    margin-left: 8px;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    transition: all 0.3s ease;
}

.mailing__btn:hover{
    background-color: #fff;
    border: 1px solid #64c29e;
    color: #282f35;
}

@media (max-width: 780px) {
    .mailing__form{
        flex-direction: column;
    }

    .mailing__btn{
        width: 100%;
        margin: 20px 0 0 0;
    }
}

.footer {
    padding: 99px 0;
    background-color: #f7f7f7;
}

.footer__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item {
    list-style: none;
}

.footer__item + .footer__item {
    margin-top: 10px
}

.footer__link{
    font-size: 13.9px;
    font-weight: 400;
    font-style: italic;
    transition: all 0.3s ease;
}

.footer__link_text{
    font-size: 16px;
    line-height: 17px;
    font-weight: 700;
}

.footer__network {
    width: 142px;
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 157px;
}

.footer__text {
    font-size: 13.9px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 780px) {
    .footer__body {
        flex-direction: column;
    }

    .footer__info{
        text-align: center;
    }

    .footer__items + .footer__items {
        margin-top: 30px;
    }
}
